

.Right_template{
    color:black;
    height:100%;
    float:right;
    width:80%;
    background: white;
    border: 10px solid black;
    border-radius:20px;
    box-shadow:0 0 40px #666;
}
.Right_elec{
    
    overflow-y: auto;
    color:black;
    height:300px;
    width:2200px;
    background:none;
    border:1px solid black;
    border-radius:20px;
    margin:20px;
    box-shadow:0 0 20px #666;
}

.Right_main{
    color:black;
    padding-top:50px;
    margin:30px;
    height:680px;
    width:2200px;
    background:none;
    border:1px solid black;
    border-radius:20px;
    box-shadow:0 0 20px #666;
}

.alarm_img{
    margin-left:600px;
    margin-top:10px;
    padding-right:40px;
}
.repeat_img{
    margin-left:600px;
    margin-top:10px;
    padding-right:40px;
}

